body { background-color: #000; }
#game { display: none; }
#scaledCanvas { margin: 0px auto; display: block;
    image-rendering: optimizeSpeed;             /* Older versions of FF */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+ */
    image-rendering: initial; /* Webkit (Safari now, Chrome soon) */
    image-rendering: optimize-contrast;         /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;   /* IE */
}

